.rome {
	position: fixed;
	bottom: 0;
	left: 0;

	width: 18vw;
}

.title {
	width: 44vw;
	margin: auto;
}

.titleText {
	font-size: 2vw;
	margin: auto;
	color: black;
}

.detective {
	position: fixed;
	bottom: 0;
	right: 0;

	width: 18vw;
}

.Landing {
	position: absolute;
	top: 0;
	margin: 0;
	width: 100%;
	background-color: antiquewhite;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url(./assets/paperbg.png);
	background-size: cover;
	background-attachment: fixed; /* Make the background image fixed */
}
