.CipherForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 600px;
}

.inputbox {

    /* Container styles */
    margin: 20px;
    padding: 20px;
    border: 1px solid #bca1a1;
    border-radius: 5px;
    background-color: rgba(54, 49, 44, 0.8);
}

.inputbox label {
	/* Label styles */
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
	color: #ffffff;
}

.inputBox {
	/* Basic Input Styles */
	border: 1px solid #888;
	border-radius: 4px;
	padding: 8px;
	font-size: 16px; /* Adjust font size as needed */
	font-family: "Times New Roman", Times, serif; /* Choose a vintage font */
	background-color: #f9f9f9; /* Background color */
	color: #333; /* Text color */
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); /* Inner shadow */

	/* 1800s Vintage Style */
	border-width: 2px; /* Thicker border */
	background-color: #f2e5d7; /* Light beige background */
	color: #4e4e4e; /* Darker text color */
	font-size: 18px; /* Larger font size */
	font-weight: bold; /* Bold text */
	padding: 10px 12px; /* More padding */
	text-align: center; /* Center text */
}

/* Optional: Add additional styles for focus and hover effects */
.inputBox:focus {
	outline: none;
	border-color: #666;
	box-shadow: 0 0 3px #666;
}

.inputBox:hover {
	background-color: #e2d4c6; /* Lighter background color on hover */
}

input{
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}