/* FilterInputText.module.css */
.grid_input_text {
	display: flex;
	flex-direction: row;
	background: rgb(184, 91, 91);
	width: min-content;
}

.substring {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 30px;
	width: 50px;
	border: 2px solid black;
}

.green {
	color: green;
}

.black {
	color: black;
}

.pulsate {
  animation: pulsate 1s infinite;
}

@keyframes pulsate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}