.matrix{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #595757;
    border: #000 5px solid;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

.cell{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #595757;
    
}