/* FiveFiveStatic.module.css */

:root {
	--size: 10vw;
}

.box {
	width: var(--size);
	height: var(--size);
	background-color: rgba(161, 183, 171, 0.5);
	border: 2px solid black;

	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .box:hover {
	scale: 1.1;
	transition: ease 0.3s;
  }
  
  /* Add styles for animate__pulse class */
  .animate__pulse {
	animation: anpulse 1s infinite; /* Adjust animation duration and other properties as needed */
  }
  
  .row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
  }
  
  .x {
	background-color: yellow; /* Change background color to yellow */
	font-weight: bold; /* Make text bold */
	/* Add any other styling you want */
	animation: pulse 1s ease 0.3s 3 linear infinite;
  }
  
  @keyframes pulse {
	0% {
	  transform: scale(1);
	}
	50% {
	  transform: scale(1.1);
	}
	100% {
	  transform: scale(1);
	}
  }
  

