:root {
	--size: 80px;
}

p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.box {
	width: var(--size);
	height: var(--size);
	background-color: rgb(179, 179, 255);

    display: flex;

    justify-content: center;
    align-items: center;


	border: 2px solid black;
}

.box:hover {
	scale: 0.9;
	transition: ease 0.3s;
}

.row {
	display: flex;
	flex-direction: row;
   


    font-size: 2rem;
}

