:root {
	--size: 80px;
}

.box {
	width: var(--size);
	height: var(--size);
	background-color: rgba(161, 183, 171, 0.5);
	border: 2px solid black;
}

.box:hover {
	scale: 1.1;
	transition: ease 0.3s;
}

/* Add styles for animate__pulse class */
.animate__pulse {
	animation: animate__pulse 1s infinite; /* Adjust animation duration and other properties as needed */
}

.row {
	display: flex;
	flex-direction: row;
}

.highlight {
	background-color: rgba(202, 160, 85,0.5); /* Change highlight color as needed */
}
